<div class="bar bar-header bar-light header-bar-shipper">
  <a class="btn-back" href="#/historialPedidos">
    <img src="images/arrow-back.png" alt=""> <span>Historial</span>
  </a>
  <h1>Inicio</h1>
  <a href="#/saldoDisponible">
  	<span>Saldo</span> <img src="images/arrow-forward.png" alt="" class="btn_right"> 
  </a>
</div>
<ion-content id="home" class="">
	<div id="mapa">
		<div class="btn_estado" ng-class="{not_available: !estoyDisponible}">
			<span>
				{{ msjDisponibilidad }}
			</span>			
			<label class="toggle toggle-balanced">
				<input type="checkbox" ng-change="cambiarEstado()" checked="checked" ng-model="estoyDisponible" ng-checked="estoyDisponible">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		<div class="center_map" ng-click="centrarPosActual()"></div>
	</div>
</ion-content>