<ion-view view-title="Inicio">
  <ion-content id="home">
	<div id="mapa" ng-class="{error: error_mapa}">
		<div id="opcionesMapa" ng-click="abrirOpcionesMapa()" ng-hide="error_mapa">
			<i class="icon ion-map"></i> Mapa
		</div>
		<div class="btn_estado" ng-class="{not_available: !estoyDisponible}" ng-hide="error_mapa">
			<span>
				{{ msjDisponibilidad }}
			</span>			
			<label class="toggle toggle-balanced">
				<input type="checkbox" ng-change="cambiarEstado()" checked="checked" ng-model="estoyDisponible" ng-checked="estoyDisponible">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		<div class="center_map" ng-click="centrarPosActual()" ng-hide="error_mapa"></div>
	</div>
  </ion-content>
</ion-view>