/* Empty. Add your own CSS if you like */
@font-face
{
    font-family: Roboto;

    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face
{
    font-family: RobotoBold;
    font-weight: bold;

    src: url(../fonts/Roboto-Bold.ttf);
}

body,
html
{
    font-family: Roboto, Times, serif !important;

    margin: 0;
    padding: 0;

    color: #fff;
    background: #0b283a;

    text-rendering: optimizeLegibility !important;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: RobotoBold, Times, serif !important;
}

.leaflet-tile-container img {
-webkit-backface-visibility: hidden;
}

.scroll
{
    width: 100%;
    height: 100%;
}

.leaflet-popup-content
{
    width: auto !important;
}

.action-sheet .action-sheet-group
{
    background-color: #022839 !important;
}
.action-sheet .action-sheet-group .action-sheet-title
{
    font-size: 120%;
    font-weight: bold;

    color: #fff;
}

/**
 * Botones
 */
.btn_azul
{
    font-weight: bold;
    line-height: 28px;

    display: inline-block;

    width: 48%;
    margin: 0 4px;
    padding: 15px 10px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 50px 50px 50px 50px;
            border-radius: 50px 50px 50px 50px;
    background-color: #5faaa5;
}

.btn-azul-grande
{
    font-weight: bold;
    line-height: 28px;

    display: inline-block;

    width: 100%;
    margin: 0 4px;
    padding: 15px 10px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-color: #5faaa5 !important;
    -webkit-border-radius: 50px 50px 50px 50px;
            border-radius: 50px 50px 50px 50px;
    background-color: #5faaa5 !important;
}

.dark_center
{
    font-weight: bold;

    text-align: center;
}

.center_text
{
    text-align: center;
}

.clearfix
{
    display: block;
    clear: both;

    width: 100%;
    height: 1px;
}

.centerBold
{
    font-weight: bold;

    display: block;

    padding: 17px;

    text-align: center;
    text-decoration: none;

    color: #fff;
}

/**
 * Formulario
 */



form .list
{
    margin-bottom: 5px !important;
}
form label
{
    margin: 12px 0 !important;
    padding: 0 !important;

    border: none !important;
}

form label input
{
    height: 48px !important;
    margin: 0 !important;
    padding: 7px !important;

    color: #000 !important;
    background-color: #eff1f4 !important;
    -webkit-box-shadow: inset 0 3px 5px 0 rgba(190,196,207,1) !important;
       -moz-box-shadow: inset 0 3px 5px 0 rgba(190,196,207,1) !important;
            box-shadow: inset 0 3px 5px 0 rgba(190,196,207,1) !important;
}

form label input::-webkit-input-placeholder,
form label input:-moz-placeholder,
form label input::-moz-placeholder,
form label input:-ms-input-placeholder
{
    color: #b4bbc6 !important;
}

/**
 * Barra superior
 */
.header-bar-shipper
{
    color: #fff !important;
    background: none;
    background-color: #022839 !important;
    background-size: 0;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.75);
}
.header-bar-shipper a
{
    display: inline-block;

    width: 65px;
    height: 69%;
    margin-top: 7px;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
}

.header-bar-shipper button,
.header-bar-shipper .title
{
    color: #fff !important;
}

.header-bar-shipper a img.btn_right
{
    margin-left: 47px;
}
.header-bar-shipper a img
{
    display: inline-block;

    height: 90%;
    margin-top: 5px;
}

.header-bar-shipper a span
{
    position: absolute;
    top: 50%;

    margin-top: 3px;
    margin-left: 4px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    vertical-align: middle;
}

.header-bar-shipper h1
{
    font-size: 157%;

    display: block;

    width: 60%;
    margin: auto;

    text-align: center;

    color: #fff;
}

/**
 * Inicio
 */
#inicio
{
    background: url(../images/bgInicio.png) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#inicio .flexslider
{
    margin-bottom: 0;

    border: none;
    background-color: transparent;
}
#inicio .flex-control-nav
{
    position: absolute;
    z-index: 9999;
    bottom: -13px;

    width: 100%;

    text-align: center;
}
#inicio .flex-control-paging li a
{
    border: 2px solid #fff;
    background-color: transparent;
}

#inicio .flex-control-paging li a.flex-active
{
    background-color: #fff;
}

div.bar-footer
{
    height: 66px;

    background: transparent;
}

/**
 * Inicio de Sesión
 */
#iniciar_sesion
{
    margin: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e5868+35,2e5868+35,2e5868+37,022839+100 */

    background: #022839; /* Old browsers */
    background-image: url(../images/degradado.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 75%;
}
#iniciar_sesion #logo
{
    display: block;

    width: 50%;
    margin: 45% auto 80px;
}

#iniciar_sesion form
{
    display: block;

    width: 80%;
    margin: auto;
}

/**
 * Registrar
 */
#registrar
{
    display: block;

    width: 90%;
    height: 87%;
    margin: 56px auto 0;
    padding: 4px;
}
#registrar #logo
{
    display: block;

    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

#registrar p
{
    margin-bottom: 2px;

    color: #444;
}

/**
 * Home
 */


#home #mapa.error
{
    background: url(../images/error-mapa.png);
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: center;
}
#home #mapa
{
    height: 100%;
}

#home #mapa .center_map
{
    position: absolute;
    z-index: 999999999;
    right: 15px;
    bottom: 12px;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    background-image: url(../images/locate_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.75);
}

#home #mapa .center_map:hover
{
    width: 60px;
    height: 60px;
}

#home #mapa .leaflet-control-container
{
    font-weight: bold;

    bottom: 12px;

    color: #efcb1e;
    border-color: transparent;
    border-radius: 6px;
    background-color: #022839;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.75);
}

#home #mapa .btn_estado.not_available
{
    color: #fff;
    background-color: #e96057;
}

#home #mapa .btn_estado
{
    font-size: 14px;
    line-height: 15px;

    position: absolute;
    z-index: 999999999;
    bottom: 12px;
    left: 98px;

    width: 52%;
    height: 45px;
    padding: 9px;

    border-radius: 6px;
    background-color: #022839;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.75);
}

#home #mapa .btn_estado span
{
    display: inline-block;

    margin-top: 7px;
    margin-left: 2px;
}

#home #mapa .btn_estado label
{
    float: right;

    margin-left: 1px;

    vertical-align: middle;
}

#home #mapa #opcionesMapa
{
    font-size: 18px;

    position: absolute;
    z-index: 999999999;
    bottom: 12px;
    left: 5px;

    width: 23%;
    height: 45px;
    padding: 8px;

    text-align: center;

    border-radius: 6px;
    background-color: #022839;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.75);
}
/**
 * Historial de Pedidos
 */
#historialPedidos
{
    margin-top: 59px;

    background: #022839; /* Old browsers */
    background-image: url(../images/degradado.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 75%;
}

#historialPedidos #dateSelector
{
    display: block;

    width: 85%;
    height: 115px;
    margin: auto;
    padding: 4px 12px;

    border-radius: 6px;
    background-color: #89c0bf;
}

#historialPedidos #dateSelector p
{
    font-size: 117%;
    font-weight: bold;

    display: block;

    width: 100%;
    margin: 0;
    padding: 8px 11px 3px;
}

#historialPedidos #dateSelector label
{
    position: initial;

    display: inline-block;

    width: 40%;
    margin: 10px;

    border: none;
}

#historialPedidos #dateSelector label input
{
    font-size: 20px;
    line-height: 33px;

    text-align: center;
}

#historialPedidos #dateSelector input[type='button']
{
    font-weight: bold;

    display: inline-block;

    width: 49px;
    height: 48px;
    margin-top: 12px;

    vertical-align: top;

    color: #efcb1e;
    border: none;
    border-radius: 2px;
    background-color: #074b69;
}




div.dd_wrap div.dd_submit
{
    background-image: url(../images/Aceptar.png) !important;
    background-size: 45px 14px !important;
}

/**
 * Menú lateral
 */
#left_menu_blue
{
    color: #fff !important;
    background-color: #022839 !important;
}

#left_menu_blue .bar-header
{
    background-color: #022839 !important;
}

#left_menu_blue .bar-header h1
{
    font-weight: bold;

    color: #fff;
}


#left_menu_blue .scroll-content .item,
#left_menu_blue .scroll-content .item .item-content
{
    color: #fff;
    border-color: #134462;
    background-color: #022839 !important;
}

.menu_selected{
    background-color: #054C6C !important;
}

#left_menu_blue .scroll-content .item i
{
    display: inline-block;

    width: 21px;

    text-align: center;
}

/**
 * Header Menu
 */
#img_logo_top
{
    width: 141px;
    height: 30px;
}
/**
 * Spinner
 */
.spinner
{
    font-size: 10px;

    width: 50px;
    height: 60px;
    margin: auto;

    text-align: center;
}

.spinner > div
{
    display: inline-block;

    width: 6px;
    height: 100%;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
            animation: stretchdelay 1.2s infinite ease-in-out;

    background-color: #6faebd;
}

.spinner .rect2
{
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}

.spinner .rect3
{
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

.spinner .rect4
{
    -webkit-animation-delay: -.9s;
            animation-delay: -.9s;
}

.spinner .rect5
{
    -webkit-animation-delay: -.8s;
            animation-delay: -.8s;
}

@-webkit-keyframes stretchdelay
{
    0%,
    40%,
    100%
    {
        -webkit-transform: scaleY(.4);
    }
    20%
    {
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes stretchdelay
{
    0%,
    40%,
    100%
    {
        -webkit-transform: scaleY(.4);
                transform: scaleY(.4);
    }  20%
    {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
    }
}
